openapi: 3.1.0
info:
  title: API Reference
  version: "1.0"
  contact:
    name: Jonathon Robins
    email: Jonathon.Robins@pamediagroup.com
  summary: Retrieves back video metadata url with signed manifests and player configurations.
  description: |-
    Provides functionality to retrieve back video metadata with signed manifests ready for player consumption and configurations needed to set up a player.
    Sits in between the video player and Kaltura.
tags:
  - name: Playback API
servers:
  - url: "https://api.playback.streamamg.com/v1/"
paths:
  /playback:
    get:
      summary: Get playback data
      operationId: get-playback-data
      security:
        - bearerAuth: []
        - ApiKey: []
      parameters:
        - name: entryId
          in: query
          schema:
            type: string
          required: true
          description: "Entry ID in MP"
      responses:
        "200":
          description: "Success - get playback data"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaybackEndpointResponse"
              examples:
                Example - Success VoD:
                  value:
                    id: "0_4l1aj0bo"
                    name: "World Cup of Tests"
                    description: "Test Video"
                    thumbnail: "https://video-store/test/12345"
                    duration: 2800000
                    media:
                      {
                        hls: "https://open.http.mp.streamamg.com/p/Test-Partner/sp/Test-Partner00/playManifest/entryId/${entryId}/flavorIds/0_4l1aj0bo,0_522aj0tt/format/applehttp/protocol/https/a.m3u8?ks=YTlhYzYzNmJmOWVhMDQzNzRjYTY3M",
                      }
                Example - Success Live:
                  value:
                    id: "0_4l1aj0bo"
                    name: "World Cup of Tests"
                    description: "Test Video"
                    thumbnail: "https://video-store/test/12345"
                    duration: 2800000
                    media:
                      {
                        mpegdash: "url-to-mpegdash-manifest",
                        hls: "url-to-hls-manifest",
                        applehttp: "url-to-applehttp-manifest",
                      }
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                description: "Error getting session identifier"
                type: object
                properties:
                  status:
                    type: number
                    enum:
                      - 400
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Bad Request Exception
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                description: "Error getting playback data"
                type: object
                properties:
                  status:
                    type: number
                    enum:
                      - 500
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Internal Server Error:
                  value:
                    status: 500
                    message: "Error getting playback data [Error stack]"
      description: |-
        In order to fetch the signed CDN URL, the user must first be authenticated(fetch the JWT access token). This token should be passed during the API call through the Bearer header.

        The API call should be made with entryId as query parameter.

        In order to ensure safe access to the API, it is necessary to pass the API key in the `x-api-key` header.
      tags:
        - Playback API
  /player:
    get:
      summary: Get default player configuration
      operationId: get-player-configuration
      security:
        - ApiKey: []
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          required: true
          description: API key of the client
      responses:
        "200":
          description: "Success - get default player configuration"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerEndpointResponse"
              examples:
                Example - Player Configuration Response:
                  value:
                    type: "bitmovin"
                    license: "89778f40-5c94-4182-b3aa-be3fb6494374"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                description: "Error retrieving player configuration"
                type: object
                properties:
                  status:
                    type: number
                    enum:
                      - 400
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: No default player set up for the requested client
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                description: "Error getting playback data"
                type: object
                properties:
                  status:
                    type: number
                    enum:
                      - 500
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Internal Server Error:
                  value:
                    status: 500
                    message: "Error getting playback data [Error stack]"
      description: API key must be passed in the `x-api-key` header.
      tags:
        - Playback API
  /player/{name}:
    get:
      summary: Get specific player configuration
      operationId: get-specific-player-configuration
      security:
        - ApiKey: []
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          required: true
          description: API key of the client
      responses:
        "200":
          description: "Success - get specific player configuration"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerEndpointResponse"
              examples:
                Example - Player Configuration Response:
                  value:
                    type: "bitmovin"
                    license: "89778f40-5c94-4182-b3aa-be3fb6494374"
        "400":
          description: "Bad Request"
          content:
            application/json:
              schema:
                description: "Error retrieving player configuration"
                type: object
                properties:
                  status:
                    type: number
                    enum:
                      - 400
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: No bitmovin player set up for the client
        "500":
          description: "Internal Server Error"
          content:
            application/json:
              schema:
                description: "Error getting playback data"
                type: object
                properties:
                  status:
                    type: number
                    enum:
                      - 500
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
              examples:
                Internal Server Error:
                  value:
                    status: 500
                    message: "Error getting playback data [Error stack]"
      description: API key must be passed in the `x-api-key` header.
      tags:
        - Playback API
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKey:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    PlaybackEndpointResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        thumbnail:
          type: string
        duration:
          type: number
        media:
          type: object
    PlayerEndpointResponse:
      type: object
      properties:
        type:
          type: string
        license:
          type: string
        style:
          type: string
    MediaVoD:
      type: object
      properties:
        hls:
          type: string
    MediaLive:
      type: object
      properties:
        mpegdash:
          type: string
        hls:
          type: string
        applehttp:
          type: string
